.home-section {
    min-height: 80vh;
    width: 100%;
    padding: 5% 10%;
}

.home-section-1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-section-1 .headline {
    width: 90%;
}

.home-section-1 .headline p{
    font-size: 4rem;
    font-weight: 500;
}

.home-section-1 .image img {
    width: 100%;
}

.home-section-2 {
    margin-top: 20px;
}

.home-section-2 p{
    color: var(--color-gray-8);
    font-size: 1.4rem;
    margin: 20px;
}

.home-section-2 .searchbar{
    margin: 20px;
    width: 60%;
    min-width: 350px;
    border-radius:30px;
    border:1px solid #dcdcdc;
}

.home-section-2 .searchbar #vl {
    border-left: 4px solid var(--color-gray-8);
    height: 100%;
}

.home-section-2 .searchbar input{
    font-size: 1.3rem;
    outline: none;
    border: none;
    width: 40%;
    margin: 10px 3px;
    padding: 2px;
    color: var(--color-gray-8);
}

.home-section-2 .searchbar .icon{
    margin-top: 2px;
}

.home-section-2 .searchbar #search{
    color: white;
    background-color: var(--color-gray-8);
    border-radius: 30px;
}

.suggested-doctors{
    display: block ruby;
    overflow-x: scroll;
}

#home-jumbotron{
    background-color: var(--color-gray-2);
    padding: 4%;
    min-width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    border-radius: 20px;
}

#home-jumbotron .headline p{
    font-size: 3rem;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}