.doctor-card#card-content {
    padding: 20px;
    line-height: 1.8;
}

.doctor-card#doctor-name {
    font-size: 24px;
    font-weight: 700;
}

.doctor-card#doctor-type {
    font-size: 18px;
    color: var(--color-gray-7);
}

.doctor-card#doctor-experience {
    font-size: 14px;
    font-weight: 400;
}

.doctor-card#doctor-location {
    font-size: 14px;
    font-weight: 700;
}

.doctor-card#doctor-clinics {
    font-size: 14px;
}

.doctor-card#card-actions {
    display: block;
}

.doctor-card#doctor-availability {
    color: #eba352;
    font-size: 12px;
    font-weight: 500;
    padding: 20px;
}

.doctor-card#appointment-button {
    margin: auto;
    border-radius: 20px;
    background-color: var(--color-gray-7);
    color: white;
    width: 100%;
    padding: 8px;
    text-transform: none;
}