.dcb {
    background-color: white;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    padding: 20px;
}

.dcb-img {
    width: 45%;
    min-width: 400px;
}

.dcb-img>img {
    width: 100%;
    aspect-ratio: 1.33;
}

.dcb-body {
    padding: 10px 30px;
    color: var(--color-primary);
    width: 50%;
}

.dcb-name {
    font-size: 2rem;
    font-weight: 600;
}

.dcb-speciality>p{
    font-size: 1.1rem;
    font-weight: 600;
}

.dcb-splist {
    margin-left: 60px;
}

.dcb-splist>li{
    list-style: none;
    position: relative;
    line-height: 3;
    margin: 5px auto;
}
.dcb-splist>li::before {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-image: url('../../../public/placeholder.jpg');
    position: absolute;
    vertical-align: middle;
    left: -55px;
}

/* .dcb-rating {
    background-color: #efefef;
    padding: 2px 8px;
    margin: 30px 2px;
    width: fit-content;
} */